npm-debug.log
/ionic2-ts-blank1/platformsc
/ionic2-ts-blank1/www
/ionic2-ts-blank1/platforms
/ionic2-ts-blank1/plugins
/ionic2-ts-blank1/www/assets/fonts
/ionic2-ts-blank1/www/build/
/ionic2-ts-blank1/www/index.html
!/ionic2-ts-blank1/node_modules/ionic-angular/components/picker/picker-options.js
!/ionic2-ts-blank1/node_modules/ionic-angular/components/picker/picker-options.d.ts
/ionic2-ts-blank1/node_modules/ionic-angular/components/picker/*
/ionic2-ts-blank1/node_modules/*
ionic2-ts-blank1/.sourcemaps/main.js.map
*.apk



.DS_Store
ionic2-ts-blank1/src/pages/.DS_Store
ionic2-ts-blank1/www/build/main.js
